
{% load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Racket Games Store</title>
</head>
<body>
    <header>
        <h1>Racket Games Store</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Login/Logout</a></li>
            </ul>
        </nav>
    </header>

    <section class="product">
        {% for item in data.values %}
        <li>
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <img src="{{ item.url }}" alt="{{ item.title }}">
        </li>
    {% endfor %}
    </ul>
        <button>Add to Cart</button>
    </section> 
   
    <!-- More product sections here -->

    <footer>
        <p>&copy; 2023 Racket Games Store. All rights reserved.</p>
    </footer>
</body>

 </html>