
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}

    {% block content %}
   
    
    <div class="container">
    
    <div class="row mt-3">
        {% for p in product %}
        <div class="col-md-4">
        <h3><a href="{% url 'rackapp:productdetail' p.slug %}">{{p.title}}</a></h3>
        <img src="{{p.image.url}}" alt="" width="200px ">
        <br>
        <p>Price: <strike>Ksh. {{p.marked_price}}</strike>  Ksh. {{p.selling_price}}</p>
        <a href="" class="btn" style="background-color: aqua; color: black;">Add To Cart</a>
       </div>
        {% endfor %} 
    </div>
</div>
</body>
</html> 
    {% endblock %}
   